/* ============================================================
Main Content - Home 
============================================================= */
#contentHome {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

#contentHome img {
    position: absolute;
    width: 100%;
    top: 31%;
}

.homeTitle {
    width: 100%;
    color: #000;
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;
}

.contactFront {
    margin-top: 1%;
    text-align: center;
    font-size: 0.5vw;
    line-height:0.9vw;
}

.contactFront span {
    text-decoration: underline;
}

/* ============================================================
Main Content - contentContainer
============================================================= */
.contentContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ============================================================
Main Content - Architecture
============================================================= */
#contentArchitecture {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}


.pageBG.tint.arch {
    background-image: url("../img/PictureByGallery/Amsterdam/cantelever.jpg");
    filter: opacity(65%);
    -webkit-filter: opacity(65%);
}


.afterClick {
    white-space: nowrap;
}

.projects {
    position: absolute;
    top: 16%;
    left: 11.5%;
}

.projects h4 {
    text-decoration: underline;
}

.projects li {
    font-size: 0.9vw;
    padding: 0.5% 0%;
    text-shadow: -1.5px -1px #000,
                 1.5px -1px #000,
                 -1.5px 1px #000,
                 1.5px 1px #000;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.contentContainer.archGrid {
    position: relative;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 49%;
}

.contentContainer.archGrid .box {
    margin: 3%;
    width: 18%;
    height: 35%;
    box-shadow: 0 10px 6px -6px black;
}

.contentContainer.projectSlider {
    position: absolute;
    display: inline-block;
    top: 13.5%;
    height: 90%;
    width: 90%;
    left: 5%;
}
.contentContainer.archScroll {
    position: relative;
    display: inline-block;
    top: 15%;
    width: 80%;
    height: 90%;
    left: 15%;
    overflow: auto;
}
.contentContainer.archScroll .box2 {
    position: relative; 
    margin-right: 5%;
    width: 50%;
    height: 80%;
    display: inline-block;
    box-shadow: 0 10px 6px -6px black;
    z-index: 999;
}

/* ============================================================
Main Content - Photography
============================================================= */
#contentPhotography {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #000;
}

.contentContainer.photogScroll {
    position: relative;
    top: 25%;
    width: 100%;
    height: 49%;
    overflow: auto;
}

.pageBG.tint.photog {
    background-image: url("../img/arch/bg/sem1.jpg");
    filter: opacity(90%);
    -webkit-filter: opacity(90%);
}

.contentContainer .box {
    box-shadow: 0 10px 6px -6px black;
    display: inline-block;
    width: 60vh;
    height: 40.2vh;
}


/* ============================================================
Main Content - About
============================================================= */
#contentAbout {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#contactInfo span {
    text-decoration: underline;
}

.pageBG.tint.about {
    background-image: url("../img/aboutMeBG.jpg");
    filter: opacity(90%);
    -webkit-filter: opacity(90%);
}

.fadeIn {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

#aboutText {
    position: absolute;
    padding: 1.2%;
    top: 23%;
    width: 25%;
    left: 2%;
    font-size: 0.8vw;
    font-weight: 500;
    color: black;
}

#contentAbout img {
    position: absolute;
    width: 30%;
    top: 25%;
    right: 5.5%;
    box-shadow: 0 10px 6px -6px black;
}

#contactInfo {
    position: absolute;
    font-size: 0.7vw;
    color: #000;
    padding: 1%;
    top: 60%;
    left: 8%;
}


/* ============================================================
Menu - Main
============================================================= */
.mainMenu {
    position: absolute;
    width: 100%;
    top: 68%;
    text-align: center;
}

.mainMenu li {
    display: inline-block;
    padding: 0% 2%;
    font-size: 1vw;
    color: black;
}

.mainMenu a:visited {
    color: black;
}

/* ============================================================
Menu - SectionMenu
============================================================= */
.sectionMenu {
    position: relative;
    width: 100%;
    font-size: 1vw;
    color: white;
    list-style: none;
    text-align: center;
    bottom: 15%;
}

.selectionNav {
    position: relative;
    padding: 0;
}

.selectionNav > li {
    display: inline-block;
    color: white;
    margin: 0% 1.5%;
}

.selectionNav li ul li {
    position: absolute;
    display: block;
    background-color: rgba(0,0,0,0.88);
}

.selectionNav ul.inner {
    display: none;
}

.selectionNav ul.visible {
    display: block;
}

.sectionNav ul li a {
    display:block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 25px 5px 25px;
    color: white;
}


.selectionNav.photogMenu {
}

/*
.sectionMenu {
    position: absolute;
    z-index: 9999;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 4.5%;
    left: 33.5%;
    text-align:center;
}

.sectionMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.sectionMenu ul li {
    display: block;
    float:left;
    font-size: 0.9vw;
    text-align: center;
}

.sectionMenu li ul {
    display: none;
}

.sectionMenu li ul li {
    font-size: 0.6vw;
    background-color: rgba(0,0,0,0.8);
}

.sectionMenu ul li a {
    display:block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 25px 5px 25px;
    color: white;
}

.sectionMenu ul li a:hover {
    background: #FC374A;
}

.sectionMenu li:hover ul {
    display: block;
    position: relative;
}

.sectionMenu li:hover li {
    float: none;
}

.sectionMenu li:hover a {
}

.sectionMenu li:hover li a:hover {
    background: #95A9B1;
}

*/

/* ============================================================
Menu - BottomNav
============================================================= */
.bottomNav {
    position: relative;
    text-align: center;
    font-size: 0;
    width: 100%;
    margin-top: 1.8%;
    font-weight: normal;
}

.bottomNav li {
    display: inline-block;
    font-size: 1vw;
    padding-right: 4.3%;
    text-align: center;
}

.bottomNav li:hover {
    text-shadow: 0.4px 0.6px grey;
}

/* ============================================================
SectionTitle
============================================================= */
.sectionTitle {
    position: relative;
    text-align: left;
    width: 50%;
    margin-left: 0.8%;
    font-size: 1.4vw;
    color: white;
    font-weight: normal;
}

/* make it so shows name as header then description of current page(ie. photography) in smaller font and italics below*/


/* ============================================================
PageBackground
============================================================= */
.pageBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.tint {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

/* ============================================================
Header/Footer
============================================================= */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #1C1C1C;
    z-index: 999;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #1C1C1C;
    z-index: 999;
}

/* ============================================================
Scroll Buttons
============================================================= */
.scrollButton {
    position: fixed;
    display: none;
    top: 45%;
    background: transparent;
    border: none;
    font-size: 0;
    background-color: rgba(0,0,0,0.2);
}

.scrollButton p {
    color: #FC374A;
    text-shadow: 0.2rem 0.3rem black;
}

.scrollRight {
    z-index: 9999;
    right: 1%;
}

.scrollLeft {
    z-index: 9999;
    left: 1%;
}
.scrollRight img {
    -webkit-animation: pulse 1.5s;
    animation: pulse 1.5s;
    -webkit-animation-iteration-count: 20;
    animation-iteration-count: 20;
}

@-webkit-keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

/* ============================================================
ImageZoom
============================================================= */
.imageZoom {
    position: absolute;
    width: 80%;
    height: 96%;
    top: 2%;
    left: 10%;
    border: 2px solid black;
    z-index: 9999;
}

/* ============================================================
SocialAndTranslateButtons
============================================================= */
#socialAndTranslateButtons {
    position: absolute;
    width: 15%;
    top: 1%;
    right: 0;
    text-align: center;
}

#socialAndTranslateButtons,
#socialAndTranslateButtons li {
    margin: 0;
    padding: 0;
}


#socialAndTranslateButtons li { 
    display: inline-block;
    margin-top: 0%;
    margin-right: 4%;
}
#socialAndTranslateButtons img { 
    max-width: 100%;
    margin-right: 4%;
}

/* ============================================================
Credits
============================================================= */
.da {
    position: absolute;
    left: 1%;
    font-size: 0.6vw;
    bottom: 0;
}

.me {
    position: absolute;
    right: 1%;
    font-size: 0.4vw;
    bottom: 0;
}

/* ============================================================
PageControl
============================================================= */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

#container {
    min-height: 100%;;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

a:visited {
    color: white;
}
