/* ============================================================
Main Content - Home
============================================================= */
.pageBG.homePage {
    position: fixed;
    width: 100%;
    height: 100%;
}

#contentHome {
    position: relative;
    width: 100%;
    height: 100%;
}

.homeTitle {
    margin-top: 11%;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
}

#contentHome img {
    position: relative;
    width: 100%;
    max-height: 100%;
}

.contactFront {
    position: relative;
    margin-top: 1%;
    text-align: center;
    font-size: 0.5vw;
    line-height:0.9vw;
}

.home {color: #000;}

/* ============================================================
Main Content - contentContainer
============================================================= */
.contentContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ============================================================
Main Content - Architecture
============================================================= */
.pageBG.arch {
    background:
    linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
    ),

    url("../img/photog/amsterdam/cantelever.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#contentArchitecture {
    position: relative;
    top: 10%;
    width: 100%;
    height: 80%;
}

ul.projects {
    position: absolute;
    top: 16%;
    left: 11.7%;
    color: #FFF;
    font-size: 0.9vw;
}

ul.projects a {
    line-height: 1.5vw;
    color: #FFF;
}

.projects a:hover {
    background-color: #CB3535;
    text-shadow: 0px;
    cursor: none;
    font-size: 1vw;
    padding: 5px 10px 5px 10px;
}

.contentContainer.archGrid {
    position: absolute;
    top: 2.5%;
    left: 25.5%;
    width: 50%;
    height: 49%;
}

.contentContainer.archGrid .box {
    margin: 3%;
    width: 18%;
    height: 35%;
    box-shadow: 0 10px 6px -6px black;
}

.contentContainer.archScroll {
    position: absolute;
    top: 2%;
    width: 55%;
    height: 105%;
    left: 27%;
    overflow: auto;
}

.contentContainer.archScroll .box2 {
    display: inline-block;
    box-shadow: 0 10px 6px -6px black;
    margin-right: 2.5%;
    width: 93vh;
    height: 60.4vh;
}

.contentContainer.archScroll .box2:hover {
    cursor: pointer;
    box-shadow: 2px 8px 8px 2px #000;
}

.archWhite {color: #FFF;}

.bottomNav.archWhite a {color: #FFF;}

.afterClick {white-space: nowrap;}

/* ============================================================
Main Content - Photography
============================================================= */
.pageBG.photog {
    background:
    linear-gradient(
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.1)
    ),

    url("../img/bg/photog.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#contentPhotography {
    position: relative;
    top: 10%;
    width: 100%;
    height: 80%;
    white-space: nowrap;
}

.contentContainer.photogScroll {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 105%;
    overflow: auto;
}

.contentContainer.photogScroll .box {
    display: inline-block;
    box-shadow: 0px 10px 6px -6px #000;
    margin-right: 2.5%;
    width: 69.8vh;
    height: 47vh;
}

.contentContainer.photogScroll .box:hover {
    cursor: pointer;
    box-shadow: 2px 8px 8px 2px #000;
}

/* ============================================================
Main Content - About
============================================================= */
.pageBG.about {
    background:
    linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,0)
    ),

    url("../img//bg/aboutMeBG.jpg");
    bottom: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}

#contentAbout {
    position: relative;
    width: 100%;
    height: 100%;
}

#aboutText {
    position: absolute;
    top: 29.5%;
    left: 4%;
    width: 24%;
    font-size: 0.85vw;
}

#contentAbout img {
    position: absolute;
    top: 24.5%;
    right: 4%;
    width: 30%;
    box-shadow: 0 10px 6px -6px black;
}

#contactInfo {
    position: absolute;
    bottom: 23%;
    left: 10%;
    font-size: 0.8vw;
    color: #000;
}

#contactInfo span {text-decoration: underline;}

/* ============================================================
Menu - Home
============================================================= */
.mainMenu {
    position: relative;
    margin-top: 2%;
    width: 100%;
}

.mainMenu ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.mainMenu ul li {
    display: inline-block;
    padding: 0% 2%;
    font-size: 1vw;
}

/* ============================================================
Menu - SectionMenu
============================================================= */
.sectionMenu {
    position: absolute;
    top: 40%;
    width: 100%;
    height: auto;
    font-size: 1vw;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.selectionNav {
    position: relative;
    padding: 0;
}

.selectionNav > li {
    display: inline-block;
    color: #FFF;
    margin: 0% 1.5%;
    padding: 5px 15px 5px 15px;
}

.selectionNav li ul li {
    margin-top: 10%;
    position: relative;
    font-size: 0.8vw;
    display: block;
    padding: 5px 10px 5px 10px;
}

.selectionNav ul.inner {display: none;}

.selectionNav ul.visible {
    position: absolute;
    display: block;
    padding: 0;
}

.sectionMenu li:hover {background-color: #CB3535;}

/* ============================================================
Menu - BottomNav
============================================================= */
.bottomNav {
    position: absolute;
    text-align: center;
    font-size: 0;
    width: 100%;
    margin-top: 1.8%;
    font-weight: normal;
}

.bottomNav li {
    display: inline-block;
    font-size: 1vw;
    padding-right: 6.2%;
    text-align: center;
}

.bottomNav li:hover {text-shadow: 0.4px 0.6px grey;}

/* ============================================================
SectionTitle
============================================================= */
.sectionTitle {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 25%;
}

/* ============================================================
Header/Footer
============================================================= */
.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 999;
    background-color: rgba(0,0,0,0);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 999;
    background-color: rgba(0,0,0,0);
}

/* ============================================================
Scroll Buttons
============================================================= */
.scrollButton {
    position: fixed;
    display: none;
    top: 45%;
    background: transparent;
    border: none;
    font-size: 0;
}

.scrollRight {right: 3.5%;}

.scrollLeft {left: 3.5%;}

.scrollRight img {
    -webkit-animation: pulse 1.5s;
    animation: pulse 1.5s;
    -webkit-animation-iteration-count: 20;
    animation-iteration-count: 20;
}

@-webkit-keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

.backButton {
    position: absolute;
    display: none;
    background: transparent;
    top: 7%;
    left: 25%;
    border: none;
    font-size: 0;
    z-index: 9999999999;
}

.scrollButtonArch {
    position: fixed;
    display: none;
    top: 47%;
    background: transparent;
    border: none;
    font-size: 0;
}

.scrollRightArch {right: 14.5%;}

.scrollLeftArch {
    left: 23.5%;
    z-index: 999;
}

.scaleButtons img {width: 3vw;}


@-webkit-keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes pulse {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

/* ============================================================
ImageZoom
============================================================= */
.zoomedImage {
    top: -1.5%;;
    position: fixed;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.centerImage {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
}

.imageZoom {
    vertical-align: middle;
    margin: 0 auto;
    max-height: 99%;
    max-width: 99%;
}

.minimiseButton {
    position: absolute;
    display: none;
    background: transparent;
    top: 16.5%;
    right: 17%;
    border: none;
    font-size: 0;
}

/* ============================================================
SocialAndTranslateButtons
============================================================= */
#socialAndTranslateButtons {
    position: fixed;
    width: 50%;
    right: 1%;
    margin: 0;
    padding: 0;
    top: 2%;
    text-align: right;
}

.socialButton {
    position: fixed;
    right: 3.5%;
    top: 2%;
    width: 10%;
}

.socialButton li {
    display: inline-block;
    margin-right: 10%;
}

.translate {font-size: 1vw;}

.translate li {display: inline-block;}

.scaleSocial img {width: 2vw;}

/* ============================================================
Credits
============================================================= */
.da {
    position: absolute;
    right: 1%;
    font-size: 0.6vw;
    bottom: 0;
}

.me {
    position: absolute;
    left: 1%;
    font-size: 0.4vw;
    bottom: 0;
}

/* ============================================================
Animations
============================================================= */
.fadeIn {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

/* ============================================================
PageControl
============================================================= */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {height: 100%;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1,
h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

a:visited {color: #000;}

a:link {color: #000;}

.underline {text-decoration: underline;}

/* ============================================================
MediaQueries
============================================================= */
@media screen and (max-width: 1199px) {
    /* ===========
    Home
    ============== */
    .homeTitle {
        font-size: 3vw;
    }
    #contentHome img {
        display: none;
    }
    .mainMenu a {
        color: #FFF;
    }
    .mainMenu li {
        background-color: #000;
        font-size: 2vw;
        line-height: 4vw;
    }

    .contactFront {
        font-size: 1vw;
        line-height: 1.3vw;
    }
}

@media only screen
and (max-width: 767px)
and (orientation: landscape) {

    /* ===========
    Page Control
    ============== */
    .scaleButtons {
        display: none;
    }

    /* ===========
    Home
    ============== */
    .pageBG.homePage {
        background: url('../img/bg/mobilePortrait.jpg');
        background-size: cover;
        position: center center;
        background-repeat: no-repeat;
    }
    .homeTitle {
        margin-top: 30%;
        font-size: 7vw;
    }
    #contentHome img {
        display: none;
    }

    .mainMenu ul li {
        margin-top: 45%;
        background-color: rgba(0,0,0,0.90);
        font-size: 3vw;
        margin-right: 3%;
        padding: 3.5%;
    }

    .contactFront {
        color: #000;
        font-size: 2vw;
        line-height: 3vw;
        margin-bottom: 15%;
    }

    /* ===========
    Architecture
    ============== */

    /* ===========
    Photography
    ============== */
    .footer {
        display: none;
    }
    .pageBG.photog {
        background:
        linear-gradient(
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
        ),

        url("../img/bg/photog.jpg");
        position: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }

    #contentPhotography {
        height: 100%;
    }
    .contentContainer.photogScroll {
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: normal;
    }
    .contentContainer.photogScroll .box {
        margin-top: 3%;
        max-width: 100%;
    }
}

@media only screen
and (max-width: 767px)
and (orientation: portrait) {

    /* ===========
    Page Control
    ============== */
    .scaleButtons {
        display: none;
    }

    /* ===========
    Home
    ============== */
    .pageBG.homePage {
        background: url('../img/bg/mobilePortrait.jpg');
        background-size: cover;
        position: center center;
        background-repeat: no-repeat;
    }
    .homeTitle {
        margin-top: 30%;
        font-size: 7vw;
    }
    #contentHome img {
        display: none;
    }

    .mainMenu ul li {
        margin-top: 45%;
        background-color: rgba(0,0,0,0.90);
        font-size: 3vw;
        margin-right: 3%;
        padding: 3.5%;
    }

    .contactFront {
        color: #000;
        font-size: 2vw;
        line-height: 3vw;
        margin-bottom: 15%;
    }

    /* ===========
    Architecture
    ============== */

    /* ===========
    Photography
    ============== */
    .footer {
        display: none;
    }

    .pageBG.photog {
        background:
        linear-gradient(
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
        ),

        url("../img/bg/photog.jpg");
        position: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }

    #contentPhotography {
        height: 100%;
    }

    .contentContainer.photogScroll {
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: normal;
    }
    .contentContainer.photogScroll .box {
        margin-top: 3%;
        width: 100%;
    }
    /* ===========
    About 
    ============== */
    .pageBG.about {
        background:
        linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.9)
        ),
        url("../img//bg/aboutMeBG.jpg");
        position: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        bottom: 0;
        overflow: auto;
    }

    #contentAbout {
        overflow: auto;
    }

    #contentAbout img {
        position: relative;
        width: 100%;
        top: 0%;
        right: 0%;
        left: 0%;
    }

    #aboutText {
        position: relative;
        top: 5%;
        left: 5%;
        font-size: 3vw;
        width: 90%;
        color: #FFF;
    }

    #contactInfo {
        position: relative;
        text-align: center;
        width: 100%;
        bottom: 0%;
        top: 8%;
        left: 0%;
        font-size: 2vw;
        color: #FFF;
    }
}
